.card {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 4px 10px $shadow;
  border-radius: $radius;
  &__title {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  &-mb {
    margin-bottom: 20px;
  }
  &-transparent {
    background-color: transparent;
    box-shadow: none;
  }

  &-dropzone {
    position: relative;
  }

  &-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 110px 30px;
    flex-direction: column;
  }
}
