.logo {
  height: 60px;
  &-mb {
    margin-bottom: 20px;
  }
  &__ellipse {
    display: inline-block;
    height: 100%;
    width: 60px;
    border-radius: 50%;
    background-color: $logo-color;
    &-mr {
      margin-right: 10px;
    }
  }

  &__rectangle {
    display: inline-block;
    height: 100%;
    width: 30px;
    background-color: $logo-color;
    &-mr {
      margin-right: 10px;
    }
    &-flip {
      display: inline-flex;
      height: 100%;
      width: 60px;
      &--inner {
        background-color: $logo-color;
        transform: skew(-25deg);
        margin: 0 auto;
        width: 30px;
      }
    }
  }
}
