@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SFProText-Regular.woff2") format("woff2"),
    url("../fonts/SFProText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SF Pro Text";
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  color: $text-primary;
  background-color: $body-bg;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2.5rem 0 0;
}

input {
  box-sizing: border-box;
  padding: 0.75rem 0.5rem;
  border: 1px solid $border;
  font-size: $fs;
  border-radius: $radius;
  &::placeholder {
    font-size: $fs;
    color: $text-secondary-light;
  }
  &:focus {
    border: 2px solid $focus;
  }
}

textarea {
  box-sizing: border-box;
  padding: 0.75rem 0.5rem;
  border: 1px solid $border;
  font-size: $fs-sm;
  border-radius: $radius;
  &:focus {
    border: 2px solid $focus;
  }
}

ul {
  list-style: none;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: left;
  font-weight: 400;
  color: $text-primary;
  table-layout: fixed;

  @media (max-width: 800px) {
    width: 700px;
    overflow-x: scroll;
  }
  thead {
    tr {
      th {
        padding: 10px 10px 10px 0;
        color: $text-secondary-light;
        border-bottom: 1px solid $border;
        &:last-child {
          padding: 10px 0 10px;
        }
      }
    }
  }
  tbody {
    tr {
      td {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 10px 10px 10px 0;
        color: $text-primary;
        &:last-child {
          padding: 10px 0 10px;
        }
      }
    }
  }
}

.text-right {
  text-align: right;
}

.text-success {
  color: $text-success;
}
.text-error {
  color: $text-error;
}
.text-inProcess {
  color: $text-neutral;
}
