$body-bg: #f7f7f7;
$text-primary: #000;
$text-secondary: rgba(0, 0, 0, 0.6);
$text-secondary-light: rgba(0, 0, 0, 0.4);
$text-error: #ff6666;
$text-success: #03a100;
$text-neutral: rgba(0, 0, 0, 0.4);
$focus: rgba(
  $color: #45a5ff,
  $alpha: 0.5
);
$link-color: #0055fb;
$link-hover: #266efc;
$shadow: rgba(0, 0, 0, 0.1);
$border: #ddd;
$border-light: #ccc;
$radius: 5px;
$fs: 18px;
$fs-sm: 16px;
$fs-l: 24px;
$fs-xl: 30px;
$logo-color: #c4c4c4;
